doctype html
html()
    head
        title Onion & Potato Beta - Login
        base(href="/")
        link(rel="stylesheet", href="stylesheets/bootstrap.css", media="screen")
        link(rel="stylesheet", href="stylesheets/login.css", media="screen")
    body
        div.container
            form.form-signin(method="POST", action="/login")
                label.sr-only(for="inputEmail") 用户名
                input.form-control(type="text", placeholder="用户名", name="username", required, autofocus)
                label.sr-only(for="inputPassword") 密码
                input.form-control(type="password", placeholder="密码", name="password", required)
                button.btn.btn-lg.btn-primary.btn-block(type="submit") 登录