body {
    padding-top: 20px;
    padding-bottom: 20px;
}
.header {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 30px;
}
.header h3 {
    padding-bottom: 10px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}
.date {
    color: #999;
    font-size: 90%;
}
.timer {
    font-size: 500%;
    height: 80px;
}