doctype html
html(ng-app="onionApp")
    head
        title(ng-bind="'Onion & Potato - ' + title")
        base(href="/")
        link(rel="stylesheet", href="stylesheets/bootstrap.css", media="screen")
        link(rel="stylesheet", href="stylesheets/onion.css", media="screen")
        script(type="text/javascript", src="javascripts/lib/jquery.js")
        script(type="text/javascript", src="javascripts/lib/bootstrap.js")
        script(type="text/javascript", src="javascripts/lib/angular.js")
        script(type="text/javascript", src="javascripts/lib/angular-route.js")
        script(type="text/javascript", src="javascripts/lib/angular-resource.js")
        script(type="text/javascript", src="javascripts/main/app.js")
        script(type="text/javascript").
            var onion = !{stream};
    body(ng-view)